:root{
  --galeano_tone_1:#22BD84;
  --galeano_tone_2:#2E8867;
  --galeano_tone_3:#14704E;
}

body{background: #fff;}

#banner {
  max-width: none;
  height: 450px;
}
#banner figure img  {
  height: 450px;
  object-fit: cover;
}
#collage img{width:300px ; height:300px;}
#collage .juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0;
    background-color: #fff;
    }
#collage {
    max-width: none;
} 
#one .content h2{
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
    color:#22BD84;
  }
  #one {
    background-color: #EEE;
    color: #000000;
    padding: 8em 0 6em 0;
    position: relative;
    display: block;
    max-width: none;
  
  }
  
  #one .inner{display: flex;  margin: auto;justify-content: center;}
  
  #one .feature_left{display: flex;    background-color: #efefef;box-shadow: 1px 4px 6px 3px #0000003d;}
  #one .feature_left .image img{width: 530px;}
  
  #one .feature_left .button_alt{ border: 2px solid #22BD84;
    border-radius: 20px;
    font-size: 1.5em;
    margin: 15px;
    padding: 10px 40px;
    font-weight: bold;
    color: #fff;
    background-color: #22BD84;
    display: block;
    width: max-content;
  }
  #one .feature_left p{line-height: 2em;}
  #one div article span {background-size: 50%;}
  #one .content{width: 700px;padding: 20px;}
  #one .inner:first-child{margin-bottom: 60px;}
  #one .inner:nth-child(1){background-image: radial-gradient(circle, rgb(255, 255, 255) 53%, rgb(0, 127, 255) 88%, rgb(57, 66, 204) 96%);}
  #one .inner:nth-child(2){background-image: radial-gradient(circle, rgb(255, 255, 255) 53%, rgb(135, 255, 24) 88%, rgb(22, 146, 34) 96%);}
  #one .inner:last-child .feature_left{flex-direction: row-reverse;}
 
  header {
    width:100%; 
    overflow:hidden; 
    background:#22BD84;
    margin-bottom:20px;
    position: fixed;
    z-index: 5;
  }
  
  .wrapper {
    width:90%;
    max-width:1000px; 
    margin:auto; 
    overflow:hidden; 
  }
  
  header .logo {
    color:#fff;
    font-size:25px;
    float:left;
  }
  
  header nav {
    float:right;
  }
  
  header nav a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    font-size:13px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
  }
  
  header nav a:hover {
    background:#14704E;
    border-radius:50px;
  }

/*submenu del home*/ 
#wrap_submenu_home .icons div {display: block;}
#wrap_submenu_home .icons {text-align: center;  margin: 28px 0 35px;}
#wrap_submenu_home .icons a {display: inline-block; margin-right: 3.5vw; background-color: transparent;}
#wrap_submenu_home .icons img {max-width: 90%; vertical-align: middle;}
#wrap_submenu_home .icons a p {font-weight: 600;}
#wrap_submenu_home .icons p {margin-top: 0; margin-bottom: 0; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-block-start: 0px; margin-block-end: 0px;}

/*footer*/
footer{max-width: initial;background-color: #0c110f; background-attachment: fixed;}
#wrap_footer #fac{
    background-image: url(../images/facebook.png);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;}
#wrap_footer #twi{
    background-image: url(../images/twitter.png);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;} 
#wrap_footer #ins{
    background-image: url(../images/instagram.png);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;
}   
#wrap_footer .footer_logos{
    margin: auto;
    display: flex;
    padding-top: 35px;
    justify-content: center;
}
#wrap_footer .hr {
    display: flex;
    height: 2px;
    background-color: rgb(92, 92, 92);
    max-width: 1000px;
    width: 100%;
  justify-content: center;
}
#wrap_footer div.icons{
    display: flex;
    margin: 10px 10px;

}
#wrap_footer div.icons a{
    margin: 0 12px;
}
#wrap_footer div.icons a:hover{
    filter: invert(1);
}
#wrap_footer div.hrs{
    display: flex;
    justify-content: center;
}
#wrap_footer div.text h5{
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
    padding-top: 30px;
}
#wrap_footer div.copyright p{
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form_contact {
  max-width: 700px;
  margin: auto;
  padding: 25px;
  color: #22BD84;
}

#form_contact input {padding: 15px; color: white; border-bottom: 1px solid #22BD84;}

#form_contact input::placeholder {
  color: white;
}

#form_contact input[type=submit]{
  background-color: #22BD84;
  color: white;
}

#form_contact textarea {
  border: 2px solid #22BD84;
  padding: 15px;
  color: #22BD84;
}

#form_contact textarea::placeholder {
  color: white;
}

#wrap_footer form div textarea,
#wrap_footer form div input{width: 100%; border:0; color:white; background-color: #35b38436;     border-radius: 5px;   box-shadow: -3px -1px 9px 4px #00000021; padding: 15px; margin-bottom: 15px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;}
#wrap_footer form div textarea{height: 350px;}
#wrap_footer form div input[type=submit]{background-color:#22BD84; transition: .5s all;}
#wrap_footer form div textarea::placeholder,
#wrap_footer form div input::placeholder{color: white;}
#wrap_footer .curso_content{display: flex;justify-content: space-between;}
#wrap_footer .curso_content input{margin: 0 15px 15px 0; width: 47%;}

#wrap_contact form div input[type=submit]:hover{background-color:#22BD84;}

#wrap_info_product .content h1{
  text-align: center;
  padding: 25px;
  text-transform: uppercase;
  color:#2E8867;
  font-family:'Times New Roman';
font-size: 20px;
}
#wrap_info_product {
  background-color: #EEE;
  background-color: #fff;
  padding: 8em 0 6em 0;
  position: relative;
  display: block;
  max-width: none;
  font-family:'Times New Roman';
  font-size: 12px;

}

#wrap_info_product .product{display: flex;  margin: auto;justify-content: center;
font-family:'Times New Roman';
font-size: 12px;
}

#wrap_info_product .feature_left{display: flex;    background-color: #efefef;box-shadow: 1px 4px 6px 3px #0000003d;}
#wrap_info_product .feature_left .image img{width: 530px;}

#wrap_info_product .feature_left .button_alt{ border: 2px solid #22BD84;
  border-radius: 20px;
  font-size: 1.5em;
  margin: 15px;
  padding: 10px 40px;
  font-weight: bold;
  color: #fff;
  background-color:#22BD84;
  display: block;
  width: max-content;
}
#wrap_info_product .feature_left p{line-height: 2em;}
#wrap_info_product div article span {background-size: 50%;}
#wrap_info_product .content{width: 700px;padding: 20px;}
#wrap_info_product .product:first-child{margin-bottom: 60px;}
#wrap_info_product .product:nth-child(1){background-color: #fff;}
#wrap_info_product .product:last-child .feature_left{flex-direction: row-reverse;}