* {
    color: #888;
}


.logo-menu-ocultar {
    width: 0px;
    animation-duration: 2s;
}

.hidden_all {
    visibility: collapse;
    position: absolute;
}

.tittle {
    display: inline-block;
}

.div-text {
    margin-left: 20px;
    padding-left: 20px;
}

footer {
    margin-top: 40px;
}



.hidden_lateral_menu {
    flex-direction: column;
    width: 0px;
    /* 65px con el hover activo */
    min-height: 100vh;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #160720, #240b36);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
    float: left;
    margin-right: 1rem;
    animation-timing-function: ease;
    animation-duration: 1.7s;
    animation-name: hidden_menu_lateral;
}


.lateral_menu {
    flex-direction: column;
    width: 290px;
    /* 65px con el hover activo */
    min-height: 100vh;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #160720, #240b36);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
    float: left;
    margin-right: 1rem;

    animation-duration: 1.3s;
    animation-name: menu_lateral;
}

@keyframes menu_lateral {
    from {
        width: 0px;
    }

    to {
        width: 290px;
    }
}

@keyframes hidden_menu_lateral {
    from {
        width: 290px;
    }

    to {
        width: 0px;
    }
}

/* div.menu:hover{
    width: 170px;
    transition-duration: 0.5s;
}
div.menu-bar{


} */
.box {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem 1rem;
    margin: 0 1rem;
}

.content {
    display: flex;
    align-items: center;
}

.shadow {
    -webkit-box-shadow: 0px 0px 40px -16px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 40px -16px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 40px -16px rgba(166, 166, 166, 1);
}

.top-menu {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: .5rem 1rem;
    height: 4.375rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.logo-menu {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(/backend/red_images/red_icons/menu.png);
    background-size: cover;
    cursor: pointer;
}

.user {
    right: 15px;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-right: 10px;
    background-image: url(/backend/red_images/red_icons/user.png);
    background-size: cover;
    position: absolute;
    border-radius: 10rem;
    cursor: pointer;
}

.user:active {
    margin-top: 0;
}

.hidden_user_menu {
    opacity: 0%;
    animation-duration: 0.5s;
    animation-name: hidden_user_menu;
}

.user_menu {
    position: absolute;
    right: 20px;
    top: 90px;
    background-color: #fff;
    width: 200px;
    border-radius: 1rem;
    border: 1px solid rgba(39, 155, 184, 0.349);
    box-shadow: 0px 0px 40px -16px rgba(166, 166, 166, 1);
    padding: 5px;
    font-size: 20px;
    z-index: 1000;
    animation-duration: 0.5s;
    animation-name: user_menu;
}


.user_options {
    border-radius: 1rem;
    margin: 10px;
}

.user_options:hover {
    background: #eaeaea;
    border-radius: 0.4rem;
}
.user_options_hr {
    background: linear-gradient(to right, #20bbcf, #237db9);
    height: 1.1px;
    border: none;
    border-radius: 5px;
    margin: 0;
    margin-top: 1.5rem;
}


.link {
    margin-left: 10px;
    text-decoration: none;
    color: #666;
}

@keyframes hidden_user_menu {
    0% {
        position: absolute;
        right: 20px;
        top: 90px;
        background-color: #ebebeb;
        width: 200px;
        border-radius: 1rem;
        border: 1px solid rgba(39, 155, 184, 0.562);
        box-shadow: 0px 0px 40px -16px rgba(166, 166, 166, 1);
        padding: 5px;
        font-size: 20px;
        z-index: 1000;
        opacity: 100%;
    }

    100% {
        position: absolute;
        right: 20px;
        top: 90px;
        background-color: #ebebeb;
        width: 200px;
        border-radius: 1rem;
        border: 1px solid rgba(39, 155, 184, 0.562);
        box-shadow: 0px 0px 40px -16px rgba(166, 166, 166, 1);
        padding: 5px;
        font-size: 20px;
        z-index: 1000;
        opacity: 0%;
    }
}

@keyframes user_menu {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}


.logo-principal {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(/backend/red_images/red_icons/menu.pn);
    /* png Img de lateral-menu */
    background-size: cover;
    margin-bottom: 40px;
    cursor: pointer;
}

div.container-menu {
    width: 240px;
    height: 40px;
    margin-left: 10px;
    text-align: right;
}

li {
    text-align: right;
    align-items: center;
}

.sub-menu {
    width: 280px;
    height: 280px;
    margin-left: -20px;
    text-align: right;
    animation-direction: bottom;
    animation-duration: 1.25s;
    animation-name: submenu_animation;
}

.hidden {
    width: 280px;
    height: 0px;
    margin-left: -20px;
    overflow: hidden;
    text-align: right;
    animation-duration: 2s;
    animation-name: submenu_animation_hidden;
}

@keyframes submenu_animation {
    from {
        opacity: 0;
        height: 0px;
        margin-left: -100%;
        width: -300%;
    }

    to {
        height: 280px;
        margin-left: -20px;
        width: 280px;
    }
}

@keyframes submenu_animation_hidden {
    0% {
        height: 280px;
        margin-left: -20px;
        width: 280px;
    }

    50% {
        opacity: 0;
    }

    100% {
        height: 0px;
        margin-left: -100%;
        width: -300%;
        opacity: 0;
    }
}


/* div.logo-home {
    width: 40px;
    height: 40px;
    background-image: url(../icons/home.png);
    background-size: cover;
    float: left;
} */

hr {
    background: linear-gradient(to right, #240b36, #c31432);
    height: 2px;
    border: none;
    border-radius: 5px;
    margin: 0 2rem 1rem;
    margin-bottom: 2.5rem;
}

p.text {
    margin-left: 80px;
    line-height: 40px;
    cursor: pointer;

}

.text_sub-menu {
    position: relative;
    display: inline;
    align-self: center;
}
footer{
    
    background-color: #000;
}

footer div {
    background-color: #000;
    justify-content: center;
    padding: .5rem 1rem;
    margin: 0 1rem;
}