:root{
    --angel_tone_1: #491D66;
    --angel_tone_2: #C369FF;
    --angel_tone_3: #A340E6;
    --angel_tone_4: #5D4170;
    --angel_tone_5: #7F32B3;
    --bc_tone_1: #070707;
    --bc_tone_2: #bebebe;
    --angel_tone_1_mod: #491d66c2;
}
header{
    width:100%; 
    overflow:hidden; 
    background:var(--bc_tone_1);
    margin-bottom:20px;
    position: absolute;
    z-index: 5;
}
.wrapper {
    width:90%;
    max-width:1000px; 
    margin:auto; 
    overflow:hidden; 
}
header .initial {
    color:var(--bc_tone_2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:32px;
    float:left;
}
header nav {
    float:right;
}
header nav a {
    display:inline-block;
    color:var(--bc_tone_2);
    text-decoration:none;
    padding:10px 20px;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header nav a:hover {
    background:var(--angel_tone_1_mod);
    border-radius:4px;
}
#wrap_banner div.banner_text div.curso_content{
    position: relative;
    padding-top: 97px;
    padding-left: 100px;
}
#wrap_banner div.banner_text {
    position: absolute;
}
#wrap_banner {
    background-image: url(/angel/images/banner.jpg);
    max-width: none;    
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
#wrap_banner p{
    justify-content: center;

}
#wrap_navigator a{
    padding-left: 11px;
    color: black;
}
#wrap_cards{
    padding-top: 100px;
}
#wrap_cards{
    background-color: var(--bc_tone_2);
    max-width: initial;
}
#wrap_cards p.tittle{
    text-align: center;
    color: var(--angel_tone_3);
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#wrap_cards div.cards{
    max-width: 1700px;
    width: 100%;
}
#wrap_cards div.cards div.card_1{
    margin: auto;
    padding-bottom: 100px;
}
#wrap_cards div.cards div.card_1 div.content{
    display: flex;
    background-color: #e1dfdf;
    box-shadow: -2px 1px 14px 0px black;
    max-width: 800px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    margin-top: 100px;
}
#wrap_cards div.cards div.card_1 figure img{
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: -2px 1px 14px 0px black;
}
#wrap_cards div.cards div.card_1 div.text p.p1{
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
    color: var(--angel_tone_3);
    font-size: 1.6em;
}
#wrap_cards div.cards div.card_1 div.text p.p2{
    padding-left: 0;
}
#wrap_cards div.cards div.card_1 div.text a{
    padding: 10px;
    background-color: var(--angel_tone_2);
    color: var(--bc_tone_1);
    border-radius: 10%;
    position: relative;
    top: 75px;
    left: 447px;
}
#wrap_cards div.cards div.card_1 div.text a:hover{
    transition: .5s;
    box-shadow: 1px 1px 14px 0px black;
    padding:11px;
    font-size: 1.1em;
    left: 440px;
    color: var(--angel_tone_4);
    border-radius: 15%;
}
footer{
    max-width: initial;
    background-color: var(--bc_tone_1);
    background-attachment: fixed;
}
#wrap_contact h1{
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
    color: var(--angel_tone_1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#wrap_contact form{
    max-width: 500px;
    margin: auto;
    padding: 25px;
}
#wrap_contact form{
    max-width: 500px;
    margin: auto;
    padding: 25px;
}
#wrap_contact form div textarea,
#wrap_contact form div input{width: 100%; border:0; color: var(--angel_tone_); background-color: #ffffff3a;     border-radius: 5px;   box-shadow: -3px -1px 9px 4px #00000021; padding: 15px; margin-bottom: 15px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;}
#wrap_contact form div textarea{height: 350px;}
#wrap_contact form div input[type=submit]{background-color: var(--angel_tone_4); transition: .5s all;}
#wrap_contact form div textarea::placeholder,
#wrap_contact form div input::placeholder{color: white;}
#wrap_contact .curso_two_columns{display: flex;justify-content: space-between;}
#wrap_contact .curso_two_columns input{margin: 0 0 15px; width: 47%;}

#wrap_contact form div input[type=submit]:hover{background-color: var(--angel_tone_2);}
#wrap_footer #fac{
    background-image: url(../images/footer/facebook1.png);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;}
#wrap_footer #twi{
    background-image: url(../images/footer/twitter1.png);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;} 
#wrap_footer #ins{
    background-image: url(../images/footer/instagram1.png);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;
}   
#wrap_footer .footer_logos{
    margin: auto;
    display: flex;
    padding-top: 35px;
    justify-content: center;
}
#wrap_footer .hr {
    display: flex;
    height: 2px;
    background-color: var(--angel_tone_2);
    max-width: 1000px;
    width: 100%;
  justify-content: center;
}
#wrap_footer div.icons{
    display: flex;
    margin: 10px 10px;

}
#wrap_footer div.icons a{
    margin: 0 12px;
}
#wrap_footer div.icons a:hover{
    filter: invert(1);
    transition: .5s;
}
#wrap_footer div.hrs{
    display: flex;
    justify-content: center;
}
#wrap_footer div.text h5{
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
    padding-top: 30px;
}
#wrap_footer div.copyright p{
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#wrap_products{
    background-color: var(--bc_tone_2);
    max-width: none;
}
#wrap_products div.content{
    padding: 100px 350px;
}
#wrap_products div.content div.boxes_content{
    padding-bottom: 100px;
    display: grid;
    justify-content: center;
    display: flex;
}
#wrap_products div.content div.inner div.inner_text{
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#wrap_products div.content div.inner div.container{
    width: 400px;
    margin: 50px 85px 50px 50px;
    overflow:   hidden ;
    box-shadow: -1px 1px 20px black;
}
#wrap_products div.content div.inner div.container ul.slider{
    list-style: none;
    width: 400px;
    display: flex;

    
    animation: slide 20s infinite alternate;
}
@keyframes slide{
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}

    25% {margin-left: -400px;}
    45% {margin-left: -400px;}

    50% {margin-left: -800px;}
    70% {margin-left: -800px;}
}
#wrap_products div.content div.inner div.container ul.slider li img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: flex;
    padding: 10px 0px 10px 0px;
    background-color: var(--angel_tone_1_mod);
}
#wrap_products div.content div.inner div.inner_text div.inner_text_button{
    padding-top: 10px;
}
#wrap_products div.content div.inner div.inner_text p.text_1{
    color: var(--angel_tone_4);
    display: flex;
    justify-content: center;
    font-size: 1.5em}
#wrap_products div.content div.inner div.inner_text p.text_2{
    justify-content: center;
    display: flex;
}
#wrap_products div.content div.inner div.inner_text a{
    color: var(--bc_tone_2);
    margin-top: 10px;
    display: flex;
    margin: auto;
    background-color: var(--angel_tone_3);
    max-width: fit-content;
    padding: 10px 10px 10px 10px;
}
#wrap_products div.content div.inner div.inner_text a:hover{
    transition: .5s;
    color: var(--angel_tone_4);
    box-shadow: 0px 0px 20px #00000075;
    background-color: var(--angel_tone_3);
    padding: 15px;

}
div.wrapper a.xd{
    color: var(--bc_tone_2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    transition: .5s;
    cursor: pointer;
    padding-top: 2px;
}
div.wrapper a.xd:hover{
    color: var(--angel_tone_3);
}
#wrap_products p#principal{
    font-size: 4em;
    text-align: center;
    color: var(--angel_tone_2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
    text-shadow: 1px 1px 12px black;
}
