/*========== ResetCSS ==========*/
*,html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,tr,select,input{appearance:inherit; -moz-appearance:inherit; -webkit-appearance:inherit; background:transparent; border:none; border-radius:0; box-sizing: border-box; margin:0; outline:0; padding:0; text-decoration:none;}

/*========== COLORS ==========*/
:root {
	--tone_1: #70A7D4;
	--tone_2: #3D8ED1;
	--tone_3: #265A85;
	--tone_4: #193B57;
    --gris: #788D9E;	
	--blanco: #fff;	
	--negro: #000;	
}
/*========== CSS GENERALES ==========*/
section{max-width: 1700px; width: 100%; margin: auto; position: relative;}
img{width: 100%;}
main{position: relative;}
a{text-decoration: none; color: unset;}
span {color:inherit;}
.red_content{max-width: 1700px; width: 100%; margin: auto; position: relative;}
body.home{background: #0606068a url('/red_images/background.png') ;}

/*========== INICIO ==========*/
#project_select{display: flex; flex-wrap: wrap; justify-content: center; margin-top:30vh; align-content: center;}
#project_select .item{color: Black;margin: 10px 20px;}
#project_select .item:hover figure{width: 320px; height: 320px;}
#project_select .item:hover figure img{opacity: 1;}
#project_select .item figure{width: 300px; height: 300px;box-shadow: 6px 10px 15px 9px #3c3c3c; transition: all 1s;}
#project_select .item figure img{object-fit: cover;height: 100%;opacity: 0.8;}
#project_select .item h1{text-align: center; margin-top: 15px; font-family: 'Oswald'; color: white;letter-spacing: 5px;}

/*========== IR HACIA EL BACKEND ==========*/
#project_going_backend{text-align: center; margin-top: 90px;}
#project_going_backend a{ margin:25px;transition: all .4s ; font-size:1em; text-decoration: none;margin-top: 15px; font-family: 'Oswald'; color: white;letter-spacing: 5px;}
#project_going_backend a:hover{ font-size:1.4em; color: aquamarine; }


/*========== ELIMINAR MARCA DE AGUA ==========*/
div[style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"]{width: 0!important; opacity: 0; overflow: hidden; }