header {
  padding: 15px;
  background-image: linear-gradient(180deg, #0808088a 50%, #ffffff00 100%);
  width: 100%;
  position: fixed;
  z-index: 5;
 }
header .menu_header ul{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
header .menu_header ul li {
  margin: 10px 25px;
  list-style: none;
}

header .menu_header ul li a {
  color: white;  
}

#banner { 
  height: 500px;
    color: rgba(255, 255, 255, 0.75);
    background-size: 100% 100%;
    text-align: center;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    JUSTIFY-CONTENT: left;
    max-width: none;
    animation: banner 10s infinite;
    animation-direction: alternate;
} 

@keyframes banner {
  0%, 30% {
    background-image: url("../images/marcadores.png");
    opacity: 1;
   }

   31%, 34% {
     opacity:0.1;
   }

   35%, 65% {
    background-image: url("../images/hojas.jpg");
    opacity: 1;
   }

  66%, 69% {
  opacity: 0.1;
  }

   70%, 100% {
    background-image: url("../images/cinta.jpg");
    opacity: 1;
   }
}

#banner .curso_content  {
  
    padding: 8em 0 6em 0;
    position: relative;
    display: block;
    max-width: none;}

#banner .curso_content p {
 
  padding: 5em 0 6em 0;
  position: relative;
  display: block;
  max-width: none;
}

#banner .curso_content h1 {
  font-family: cursive;
  position: absolute;
  text-align: center;
  padding: 25px;
  text-transform: uppercase;
  color:black;
}