header {
  padding: 15px;
  background-image: linear-gradient(180deg, #0808088a 50%, #ffffff00 100%);
  width: 100%;
  position: fixed;
 }
header .menu_header ul{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
header .menu_header ul li {
  margin: 10px 25px;
  list-style: none;
}

header .menu_header ul li a {
  color: white
}

#banner { 
  height: 600px;
  color: rgba(255, 255, 255, 0.75);
  background-image: url("../images/foto.jpg");
  background-size: auto;
  text-align: center;
  font-family: fantasy; 
  max-width: none;
}  

#banner .curso_content p {
  font-family: arial;
  color: white;

}

.hola
{
	font-size: 2.5em;
  margin: 0 0 0.5em 0;
  padding: 0;
  color: white;
}

.button{
	font-size: 1.2em;
  height: 3.25em;
  line-height: 3.25em;
  padding: 0 2.5em;
	color: white;
	background-color: #51BAA4;
	border-radius: 25px;
  border:none;
  margin-top: 10px;
}

.button:hover{
  background-color:  2white ;
  color:#51BAA4;
}